#SwapExchange {
    width:100vw;
    height:100vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu7xj-jSDLOF1tHZyUmjHHI0rrkSdmhY6Y8g&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
#WidgetContainer {
    width:500px
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #E3B23C !important;
}

.swapInfo {
    color:white;
    font-size: 4rem;
    margin-right:3em;
}